@import "../variables.module.scss";

.container {
  display: flex;
  margin-bottom: 70px;
  background: rgba($color: $bg-color-500, $alpha: 0.5);
  padding: 20px;
  
  //   justify-content: space-between;
}

.headerInfos {
  align-self: center;
}   

.artist{
    margin-bottom: 5px;
    font-weight: bold;
}

.title {
  font-size: 4rem;
  line-height: 1;
}

.image{
  margin-right: 20px;
}