@import "../variables.module.scss";

.fixed {
  z-index: 1000;
  position: fixed;


}

.input {
  position: absolute;
  z-index: 10000;
}

.background {
  background: linear-gradient($black-to-transparent-gradiant);
  position: absolute;
  width: 100vw;
  height: 100vh;
}


//   .my-node-enter {
//     opacity: 0;
//   }
//   .my-node-enter-active {
//     opacity: 1;
//     transition: opacity 2000ms;
//   }
//   .my-node-exit {
//     opacity: 1;
//   }
//   .my-node-exit-active {
//     opacity: 0;
//     transition: opacity 2000ms;
//   }