@import"../../styles/variables.module.scss";

// Title Animation
.titleAnimation {
  // transition: 100s opacity linear 0 infinite;
  animation: scrollText 10s linear 3s;
  // animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrollText {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  69.998% {
    opacity: 1;
    transform: translate(-100%);
  }
  69.999% {
    opacity: 0;
  }
  69.999% {
    opacity: 0;
    transform: translate(0);
  }
  70.000% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.audioPlayer {
  bottom: 0;
  color: $white;
  position: relative;
  justify-self: flex-end;
  background: $bg-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  // Background color under the corder radius of the AudioPlayer
  &::after{  
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      top: 0;
      z-index: -1;
      background: linear-gradient(90deg, rgba(0,0,0) 50%, $bg-dark 100%);
    
  }
  .layout {
    margin: 15px;
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    gap: 10px;
    align-items: center;
  }

  .controlesButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rangeBar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
  }
}

// Centers the informations section in the page
.infosContainer {
  // display: grid;
  // justify-content: center;
  position: relative;

  // informations about the track
  .infosWrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    // position: relative;
    // justify-content: flex-end;

    .infos {
      width: 250px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      // To make the container of the words the same as the content, to prevent problemes when the title is scrolling
      h3,
      p {
        width: fit-content;
        display: inline-block;
      }
      p {
        margin-top: 3px;
        color: $gray-100;
      }
    }
  }

  // position the Image component
  .imageWrapper {
    cursor: pointer;
    border-radius: 15px;

    &:hover {
      transform: scale(1.05);
      transition: 200ms all ease-in-out;
    }
  }

  // Border-radius directly on the Image component
  .image {
    border-radius: 12px !important;
  }
}

// Forward and backward buttons
.forwardBackward {
  color: $gray-200;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  cursor: pointer;
  height: 100%;
  height: 100%;
  padding: 4px 11px;
  margin: 0 10px;
  border-radius: 5px;

  font-size: 38px;

  &:hover {
    color: $white;
  }
}

// Play pause button
.playPause {
  background: $primary-color;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: 200ms all ease-in-out;
  }
}

//  Position only the play button
.play {
  position: relative;
  margin-left: 5px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
  // display: inline-block;
}

// Duration & current time style
.duration {
  margin-left: 10px;
}
.currentTime {
  margin-right: 10px;
}

// Volume section container
.volumeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Icon for the volume
.iconButton {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;

  .icon {
    margin-top: 3px;
    width: 25px;
    height: 25px;
    color: white;
  }
}
