@import "../variables.module.scss";

.input{
    padding: 5px 8px;
    padding-left: 15px;
    border-radius: 40px;
    outline: none;
    border:none;
    // margin: 10px 0;
    color: rgb(27, 27, 27);
}

.bigInput{
    padding: 9px 16px;
    padding-left: 24px;
    border-radius: 999999px;
    outline: none;
    border:none;
    font-size: 15px;
    // margin: 10px 0;
    color: rgb(27, 27, 27);  
}


.customInputDropdown{

    .scrollArea{
        height: fit-content;
        max-height: 300px;
        width: 500px;
        overflow: hidden;
        background-color: rgb(229, 225, 233);
        border-radius: 15px;
        margin-top: 5px;
        color:black;
        
    }
}

.CustomInputDropdownItem{
    padding:0 24px ;
    padding: 8px 0px;
    padding-left: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    

    &:hover{
        background-color: rgb(182, 182, 182);
    }
    


}
