@import "../variables.module.scss"; 


.repeatIcon {
  height: 18px;
  width: auto;
}

.number {
  display: none;
}

.repeatIcon.repeatSong {
  .number {
    display: block;
  }
}

.repeatIcon.repeatAll{
    .number {
        display: none;
      }
}


.randomIcon {
  height: 15px;
  width: auto;
  margin: 1px 0;
}
