.imageWrapper {
  border-radius: 15px;
  display: flex;
  align-items: center;
}

// Border-radius directly on the Image component
.image {
  border-radius:50% !important;
  // border-radius: 12px !important;

}
