.imageWrapper {
  border-radius: 15px;
  display: flex;
  align-items: center;
}

// Border-radius directly on the Image component
.square {
  border-radius:5px !important;
}

.round{
  border-radius:50% !important; 
}
