@import "../variables.module.scss";
@import "../iconStyling.module.scss";


// The trigger is display flex for when all elements can be clicked
// They are set as chlidren directly
.trigger {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}


.menuContent{
  max-width: 200px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;


  &[data-state='open'] {
    animation: enter 200ms ease-out;
  }

  &[data-state='closed'] {
    animation: leave 100ms ease-in;
  }
  .container{
    margin: 0 10px;

  }  
}


@keyframes enter {
  0%{
    opacity:0;
    margin-top:3px
  }
  30%{
    opacity:1;
    
  }
  100%{
    margin-top:0px
  }
}

@keyframes leave {
  0% {
    opacity:1;
    margin-top:0;
}
100%{
    opacity:0;
    margin-top:3px;
    
}
}