@import "../variables.module.scss"; 

.gridListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
};

.gridListElementContainer{
    height: 180px;
    background: $bg-color-500;
    border-radius: 10px;
};
