@import "../variables.module.scss";

// Styling Specific to Header
.header {
  font-size: 1.1rem;
  opacity: 0.8;
}

// Styling specific to element in a Row list
.listElement {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.1rem;

  p {
    font-size: 0.8rem;
    opacity: 0.6;
  }

  &:hover {
    background-color: $bg-color-transparent;

    .title {
      opacity: 1;
    }
    p {
      opacity: 1;
    }
  }
}

// Styling used in both
.rowListContainer {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 20px;

  .image {
    margin-right: 15px;
  }

  .title {
    font-weight: 600;
    opacity: 0.8;
  }

  .currentSong {
    color:$primary-color;
    opacity: 1;
  }

  .numberContainer {
    margin-right: 20px;
  }

  .number {
    width: 15px;
  }

  .time {
    justify-self: flex-end;
  }

  .firstThird {
    display: flex;
    align-items: center;
  }
}
