.volumeIcon {
  margin-top: 3px;
  color: white;
}

.playIcon {
  margin-left: 5px;
  font-size: 32px;
}

.sideBarIcon {
  font-size: 20px;
  color: $white;
  margin-right: 10px;
}

.sidePopOverDotsIcon{
    font-size: 20px;
    margin: 3px 8px;    
}

.rightArrow{
  font-size: 12px;
}
