@import "./variables.module.scss";

.volumeIcon {
  margin-top: 3px;
  color: white;
}

.playIcon {
  margin-left: 5px;
  font-size: 32px;
}

.sideBarIcon {
  font-size: 20px;
  color: $white;
  margin-right: 10px;
}

.sidePopOverDotsIcon {
  font-size: 20px;
  margin: 3px 8px;
}

.rightArrow {
  font-size: 12px;
}

.sideBarIcon {
  width: 20px;
  height: 20px;
}


.rotate {
  animation: rotate-icon 2s linear;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}

@keyframes rotate-icon {
  0%{
    transform: rotate(0deg);
    // opacity: 0;
  }
  100%{
    transform: rotate(360deg);
    // opacity: 0;
  }
}

