@import "./variables.module.scss";

.layout {
  &.small {
    margin: 5px 10px;
  }

  &.default {
    margin: 0 20px;
  }
}

.main {
  // padding: 4rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: black;
}

.top {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  background-color: $bg-dark;
  z-index: 10;
  color: $white;
}
