// Size of the scrollbar
.scrollbarContainer{
    flex-grow: 1;
    padding-bottom: 35px;
    padding-top: 15px;
}

.buttonsSection{
   display: flex;
   justify-content: space-between;
   gap: 10px;
   
}

