@import "../variables.module.scss";
@import "../iconStyling.module.scss";

// Containr of the whole trigger section
.container {
  display: flex;
  align-items: end;
  padding-left: 3px;
  padding-right: 3px;
  color: $white;
  opacity: 0.7;

  &:hover{
    color: $hover-white;
    opacity: 1;
    cursor: pointer;
    transition: 200ms all ease-in-out;
  }
}

.label{

}



// Color when a link is selected
.active{
  color:$hover-white;
}

.text{
  margin-right: auto;
}