// Size of the scrollbar
.scrollbarContainer{
    flex-grow: 1;
    padding-bottom: 90px;
    padding-top: 15px;
}

.buttonsSection{
   display: flex;
   justify-content: space-between;
   gap: 10px;
   padding-bottom: 8px; 
   margin: 0px 5px;
}

