@import "../variables.module.scss";

.container {
  display: flex;
  margin-bottom: 8px;
  color: $white;
  opacity: 0.7;
  
}
.container:hover{
    color: $hover-white;
    opacity: 1;
    transition: 200ms all ease-in-out;
    cursor: pointer;
}

.active{
  color:$hover-white;
}

.icon {
  margin-right: 10px;
}

.dropdownButton{
  margin-left: auto;
}

.menuIconContainer{
  display: flex;
  align-items: center;
  margin-left: auto;    

  .icon {
    font-size: 20px;
    color: $white;
  }
}

